<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-3 column">
                <h4>Información</h4>
                <ul class="list-unstyled">
                    <li><a href="">Habitaciones</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Beneficios</a></li>
                    <li><a href="">Creditos</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 column">
                <h4>Acerca de Qorichaska</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Detalles de reserva</a></li>
                    <li><a href="#">Politicas</a></li>
                    <li><a href="#">Terminos y Condiciones</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 column">
                <h4>Apuntese</h4>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" title="Sin spam, es una promesa!"
                            placeholder="Su correo">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal"
                            type="button">Suscribirse</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-3 text-right">
                <h4>Siguenos</h4>
                <ul class="list-inline">
                    <li><a rel="nofollow" href="" title="Twitter"><i
                                class="icon-lg ion-social-twitter-outline"></i>Twitter</a>&nbsp;</li>
                    <li><a rel="nofollow" href="" title="Facebook"><i
                                class="icon-lg ion-social-facebook-outline"></i>Facebook</a>&nbsp;</li>
                </ul>
            </div>
        </div>
        <br />
        <span class="pull-right text-muted small"><a href="#">Qorichaska System</a> ©2021 Meikyuu Black
            Company</span>
    </div>
</footer>
<div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="https://place-hold.it/1200x700" id="galleryImage" class="img-responsive" />
                <p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal"
                        aria-hidden="true">Close <i class="ion-android-close"></i></button>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">Hostal Qorichaska</h2>
                <h5 class="text-center">
                    En armonia con la naturaleza, el ambiente y la cultura.
                </h5>
                <p class="text-justify">
                    Nuestra propuesta es ofrecer una estancia única, en un ambiente de calidez, seguridad,
                    tranquilidad y comodidad.

                </p>
                <br />
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK
                </button>
            </div>
        </div>
    </div>
</div>
<div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">¡Gracias por su opinion!</h2>
                <p class="text-center">Nos tomaremos el tiempo de leer su reseña.</p>
                <br />
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i
                        class="ion-android-close"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- carga de scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"
    integrity="sha512-Rd5Gf5A6chsunOJte+gKWyECMqkG8MgBYD1u80LOOJBfl6ka9CtatRrD4P0P5Q5V/z/ecvOCSYC8tLoWNrCpPg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- part -->
<script src="./javascripts/script.js"></script>

<!-- carga de scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"
    integrity="sha512-Rd5Gf5A6chsunOJte+gKWyECMqkG8MgBYD1u80LOOJBfl6ka9CtatRrD4P0P5Q5V/z/ecvOCSYC8tLoWNrCpPg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- part -->
<script src="javascripts/front_script.js"></script>
<script src="javascripts/step_script.js" defer></script>


</body>

</html>