<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-3 column">
                <h4>Información</h4>
                <ul class="list-unstyled">
                    <li><a href="">Habitaciones</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Beneficios</a></li>
                    <li><a href="">Creditos</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 column">
                <h4>Team</h4>
                <form>
                    <h4 style="color: rgb(218, 140, 84); font-family: helvética;">MEIKYUU BLACK COMPANY</h4>
                    <h6 style="color: chocolate;">迷宮ブラックカンパニー</h6>
                </form>
            </div>
            <div class="col-xs-6 col-sm-3 column">
                <h4>Integrantes:</h4>
                <ul class="list-unstyled">
                    <h6 style="color: chocolate;">ESTRADA CUBA, ALEX RIGOBERTO</h6>
                    <h6 style="color: chocolate;">FLORES CARDENAS, DIEGO SEBASTIAN</h6>
                    <h6 style="color: chocolate;">PAULLO OLIVERA, MIRCO FABIAN</h6>
                    <h6 style="color: chocolate;">SOTO PACCO, FRANKLIN</h6>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 text-right">
                <h4>Ubiquenos</h4>
                <ul class="list-inline">
                    <li><a rel="nofollow" href="https://www.facebook.com/groups/1452189474997573" title="Facebook"><i
                                class="icon-lg ion-social-facebook-outline"></i>Facebook</a>&nbsp;</li>
                </ul>
            </div>
        </div>
        <br />
        <span class="pull-right text-muted small"><a href="#">Qorichaska System</a> ©2021 Meikyuu Black
            Company</span>
    </div>
</footer>
<div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="https://place-hold.it/1200x700" id="galleryImage" class="img-responsive" />
                <p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i
                            class="ion-android-close"></i></button>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">Hostal Qorichaska</h2>
                <h5 class="text-center">
                    En armonia con la naturaleza, el ambiente y la cultura.
                </h5>
                <p class="text-justify">
                    Nuestra propuesta es ofrecer una estancia única, en un ambiente de calidez, seguridad,
                    tranquilidad y comodidad.

                </p>
                <br />
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK
                </button>
            </div>
        </div>
    </div>
</div>
<div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">¡Gracias por su opinion!</h2>
                <p class="text-center">Nos tomaremos el tiempo de leer su reseña.</p>
                <br />
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i
                        class="ion-android-close"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- carga de scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"
    integrity="sha512-Rd5Gf5A6chsunOJte+gKWyECMqkG8MgBYD1u80LOOJBfl6ka9CtatRrD4P0P5Q5V/z/ecvOCSYC8tLoWNrCpPg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- part -->
<script src="./javascripts/script.js"></script>

<!-- carga de scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"
    integrity="sha512-Rd5Gf5A6chsunOJte+gKWyECMqkG8MgBYD1u80LOOJBfl6ka9CtatRrD4P0P5Q5V/z/ecvOCSYC8tLoWNrCpPg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- part -->
<script src="javascripts/front_script.js"></script>
<script src="javascripts/step_script.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</body>

</html>