<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Qorichaska</title>
    <meta charset="utf-8">
    <title>Qorichaska Reservas</title>
    <meta name="description" content="Pagina de información y reservas Qorichaska, creado por MBC." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href="stylesheets/footerstyle.css">
    <link rel="stylesheet" href="stylesheets/step_style.css" />
    <link rel="stylesheet" href="./stylesheets/style.css">

</head>

<body>
    <!-- part -->
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">TNAV</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-analytics-outline"></i> HOSTAL
                    QORICHASKA</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#two">Caracteristicas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#three">Galeria</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#four">Habitaciones</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#last">Contacto</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/reserva">Reservar</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme"
                            href="#aboutModal">Acerca de</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>