
<%- include ('./layouts/header.ejs') %>
  <div style="background-color: #ffffff;">
    <div class="container-sm">
      <div class="row">
        <div class="col" style="color: #000000;">
          <br><br><br><br>
          <h1>HEADING</h1>
          <h3>Subheading</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, repellat explicabo. Optio,
            corrupti
            illo? Voluptate quas aliquid odit eligendi excepturi! Delectus ullam, voluptatem quis unde
            nesciunt
            tempora voluptates reprehenderit ut!</p>
          <br><br><br><br>
        </div>
        <div class="col">

        </div>
      </div>
      <br>
    </div>
  </div>

  <div style="background-color: #ffffff;">
    <div class="container-sm">
      <div class="row">
        <div class="col">

        </div>
        <div class="col" style="background-color: #ffffff; color: #000000; border-radius: 5%; ">
          <br><br><br><br>
          <h1>HEADING</h1>
          <h3>Subheading</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, repellat explicabo. Optio,
            corrupti
            illo? Voluptate quas aliquid odit eligendi excepturi! Delectus ullam, voluptatem quis unde
            nesciunt
            tempora voluptates reprehenderit ut!</p>
          <br><br><br><br>
        </div>
      </div>
    </div>
  </div>


  <br><br><br>

  <%- include ('./layouts/footer.ejs') %>