<%- include ('./layouts/header.ejs') %>




  <div class="container p-5 box" style="background-color:transparente;">
    <div class="row">
      <div action="#" class="form">
        <form action="">
          <h1 class="text-center text-dark">Formulario Registro</h1>
          <!-- Progress bar -->
          <div class="progressbar text-black">
            <div class="progress-step progress-step-active" data-title="Datos"></div>
            <div class="progress-step" data-title="Estadia"></div>
            <div class="progress-step" data-title="ID"></div>
            <div class="progress-step" data-title="Password"></div>
            <div class="progress-step" data-title="Password"></div>
          </div>

          <!-- Steps -->
          <!-- PARTE 1 -->
          <div class="form-step form-step-active col-12 text-dark">
            <div class="row ">
              <div class="col-md-6" style="border: 1px none red;">
                <div class="form-group">
                  <label for="username">Nombre(s) Titular</label>
                  <input type="text" name="nombre_titular" id="nombre_titular" />
                </div>
                <div class="form-group">
                  <label for="dob">Fecha Nacimiento</label>
                  <input type="date" name="fecha_nac" id="fecha_nac" />
                </div>
                <div class="form-group">
                  <label for="position">Pais</label>
                  <input type="text" name="nro_telefono" id="nro_telefono" />
                </div>
                <div class="form-group">
                  <label for="position">Tipo de Documento</label>
                  <input type="text" name="email" id="email" />
                </div>
                <div class="form-group">
                  <label for="position">Email</label>
                  <input type="text" name="email" id="email" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="position">Apellidos</label>
                  <input type="text" name="apellidos" id="apellidos" />
                </div>
                <div class="form-group">
                  <label for="position">Numero de Referencia</label>
                  <input type="text" name="pais" id="pais" />
                  <!-- aGREGAR EN BD Pais - Ciudad -->
                </div>
                <div class="form-group">
                  <label for="position">Ciudad</label>
                  <input type="text" name="ciudad" id="ciudad" />
                  <!-- aGREGAR EN BD Pais - Ciudad -->
                </div>
                <div class="form-group">
                  <label for="position">Nro Documento</label>
                  <select class="form-select mySelect" name="nro_personas" id="myselect" style="width: 100%">
                    <option value="1">DNI</option>
                    <option value="2">Pasaporte</option>
                    <option value="3">Otro</option>
                  </select>
                </div>
                <div class="mt-4">
                  <br>
                  <a href="#" role="button" class="btn btn-next width-50 mx-auto">Siguiente</a>
                </div>
              </div>
            </div>
          </div>

          <!-- PARTE 2 -->
          <div class="form-step form-step col-12 text-dark" style="border: 1px none blue;">
            <div class="row">
              <div class="col-md-6" style="border: 1px none red;">
                <div class="pago">
                  <label for="metodo">Numero de Huespedes</label>
                  <select class="form-select mySelect" name="nro_personas" id="myselect" style="width: 50%">
                    <option value="1">1 Persona</option>
                    <option value="2">2 Personas</option>
                    <option value="3">3 Personas</option>
                  </select>
                </div>
                <br>
                <div class="pago">
                  <label for="metodo">Numero Habitaciones</label>
                  <select class="form-select mySelect" name="nro_habitaciones" id="myselect" style="width: 50%">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="llegada">Fecha Llegada</label>
                  <input type="date" name="fecha_arribo" id="timeStart" oninput="calculardiasDiscount()" />
                </div>
                <div class="form-group">
                  <label for="salida">Fecha Salida</label>
                  <input type="date" name="fecha_salida" id="timeEnd" oninput="calculardiasDiscount()" />
                </div>
                <div class="form-group">
                  <label for="estadia">Estadia</label>
                  <input readonly type="text" name="duracion_estadia" id="daysDiscount" />
                </div>
              </div>
            </div>
            <div class="btns-group">
              <a href="#" class="btn btn-prev">Anterior</a>
              <a href="#" class="btn btn-next">Siguiente</a>
            </div>
          </div>

          <!-- PARTE 3 -->
          <div class="form-step text-dark">
            <h3 class="text-center">Habitaciones</h3>
            <div class="row text-dark" style="border: 2px none red;">
              <div class="col-md-6" style="border: 2px none blue;">
                <!-- Con Bucle -->
                <table class="table table-bordered table-responsive table-dark table-hover">
                  <thead class="thead-default thead-light">
                    <tr class="text-center">
                      <th scope="col" class="text-center">Habitacion</th>
                      <th class="text-center">Estado</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td class="text-center" scope="row">
                        SIMPLE
                      </td>
                      <td class="text-center">
                        Disponible
                      </td>
                      <td>
                        <button onclick="cantidad(1,0)">-</button>
                        <button onclick="cantidad(1,1)">+</button>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td class="text-center" scope="row">
                        DOBLE
                      </td>
                      <td class="text-center">
                        Disponible
                      </td>
                      <td>
                        <button onclick="cantidad(2,0)">-</button>
                        <button onclick="cantidad(2,1)">+</button>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td class="text-center" scope="row">
                        Triple
                      </td>
                      <td class="text-center">
                        No Disponible
                      </td>
                      <td>
                        <button disabled onclick="cantidad(3,0)">-</button>
                        <button disabled onclick="cantidad(3,1)">+</button>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td class="text-center" scope="row">
                        Matrimonial
                      </td>
                      <td class="text-center">
                        Disponible
                      </td>
                      <td>
                        <button onclick="cantidad(4,0)">-</button>
                        <button onclick="cantidad(4,1)">+</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6 text-center mx-auto"
                style="border: 1px solid #000000;margin-bottom:15px;padding:5px;border-radius:10px">
                <div class="row text-center" style="border: 2px none brown;">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-4">
                    <h4>Simple</h4>
                  </div>
                  <div class="col-md-4 mx-auto">
                    <input id="1" type="text" class="text-center" value="0">
                  </div>
                  <div class="col-md-2 mt-4">
                  </div>
                </div>
                <div class="row text-center mx-auto align-items-center" style="border: 2px none brown;">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-4">
                    <h4>Doble</h4>
                  </div>
                  <div class="col-md-4 mx-auto" >
                    <input readonly id="2" type="text" class="text-center" value="0">
                  </div>
                  <div class="col-md-2 mt-4" >
                  </div>
                </div>
                <div class="row text-center mx-auto align-items-center" style="border: 2px none brown;">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-4" >
                    <h4>Triple</h4>
                  </div>
                  <div class="col-md-4 mx-auto" >
                    <input readonly id="3" type="text" class="text-center" value="0">
                  </div>
                  <div class="col-md-2 mt-4" >
                  </div>
                </div>
                <div class="row text-center mx-auto align-items-center" style="border: 2px none brown;">
                  <div class="col-md-2" >
                  </div>
                  <div class="col-md-4" >
                    <h4>Matrimonial</h4>
                  </div>
                  <div class="col-md-4 mx-auto">
                    <input readonly id="4" type="text" class="text-center" value="0">
                  </div>
                  <div class="col-md-2 mt-4" >
                  </div>
                </div>
                <div class="row text-center mx-auto align-items-center" style="border: 2px none brown;">
                  <div class="col-md-2" >
                  </div>
                  <div class="col-md-4">
                    <h4>Suit</h4>
                  </div>
                  <div class="col-md-4 mx-auto">
                    <input type="text" class="text-center" value="0">
                  </div>
                  <div class="col-md-2 mt-4">
                  </div>
                </div>
              </div>
            </div>
            <div class="btns-group">
              <a href="#" class="btn btn-prev">Previous</a>
              <a href="#" class="btn btn-next">Next</a>
            </div>
          </div>

          <!-- PARTE 4 -->
          <div class="form-step text-dark">
            <div class="form-group justify-content-center align-items-center" style="border: 10px none green;">
              <div class="pago">
                <label for="metodo">Metodo de Pago</label>
                <select id="mySelect" onchange="myFunction()">
                  <option value="" selected="selected" disabled>Seleccione...</option>
                  <option value="Tarjeta">PagoTarjeta</option>
                  <option value="Deposito">Deposito</option>
                </select>
              </div>
              <div class="container justify-content-center align-items-center text-center">
                <div class="row" style="border: 10px none green; align-items: center; justify-content: center;">
                  <div id="demo" class="col-md-6" style="border: 10px none red;margin:15px;margin-left: 50px;">
                  </div>
                </div>
              </div>

              <div class="btns-group">
                <a href="#" class="btn btn-prev">Previous</a>
                <a href="#" class="btn btn-next">Next</a>
              </div>
            </div>
          </div>

          <!-- PARTE 5 -->
          <div class="form-step form-step col-12 text-dark">
            <div class="row ">
              <div class="col-md-6" style="border: 1px none red;">
                <div class="form-group">
                  <label for="username">Titular</label>
                  <input readonly value="Juan Perez" type="text" name="nombre_titular" id="nombre_titular" />
                </div>
                <div class="form-group">
                  <label for="dob">Fecha Arribo</label>
                  <input readonly type="date" name="fecha_nac" id="fecha_nac" />
                </div>
                <div class="form-group">
                  <label for="position">Fecha Salida</label>
                  <input readonly type="date" name="fecha_nac" id="fecha_nac" />
                </div>
                <div class="form-group">
                  <label for="position">Tipo Habitacion</label>
                  <input readonly value="Matrimonial - Simple" type="text" name="email" id="email" />
                </div>
                <div class="form-group">
                  <label for="position">Numero Documento</label>
                  <input readonly value="1563512823" type="text" name="email" id="email" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="position">Nro Habitaciones</label>
                  <input readonly value="2" type="text" name="apellidos" id="apellidos" />
                </div>
                <div class="form-group">
                  <label for="position">Nro Huespedes</label>
                  <input readonly value="3" type="text" name="pais" id="pais" />
                  <!-- aGREGAR EN BD Pais - Ciudad -->
                </div>
                <div class="form-group">
                  <label for="position">Email</label>
                  <input readonly value="juan@gamil.com" type="text" name="ciudad" id="ciudad" />
                  <!-- aGREGAR EN BD Pais - Ciudad -->
                </div>
                <div class="form-group">
                  <label for="position">Metodo de Pago</label>
                  <input readonly value="Tarjeta" type="text" name="ciudad" id="ciudad" />
                  <!-- aGREGAR EN BD Pais - Ciudad -->
                </div>
                <div class="btns-group">
                  <a href="#" class="btn btn-prev">Previous</a>
                  <input readonly type="submit" value="Submit" class="btn" />
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>




  <%- include ('./layouts/footer.ejs') %>