<%- include ('./layouts/header.ejs') %>
<h4>Reserva</h4>
<form action="">
  <div class="mb-3">
    <label for="" class="form-label">Nombre Titular</label>
    <input type="text" name="" id="" class="form-control" placeholder="Ingrese su nombre" aria-describedby="helpId">
  </div>
</form>
<%- include ('./layouts/footer.ejs') %>