:root {
    --primary-color: rgb(11, 78, 179);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

.box{
    border:10px none red;
    width:100%;
    border-radius: 0.55rem;
}
body{
    border:10px none green;
}
  /* Global Stylings */

  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .width-50 {
    width: 50%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #252525;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }
  
  /* Form */
  .form {
    /* width: clamp(320px, 30%, 430px); */
    width: 75%;
    margin: 0 auto;
    margin-top: 14rem;
    margin-bottom:14rem;    
    border: 2px solid #ccc;
    border-radius: 0.55rem;
    padding: 1.5rem;
    background-color:rgb(172, 172, 172);
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  
#mySelect{
  border: 1px none red;
  padding: 0.75rem;
  width: 25%;
  text-align: center;
  font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
  font-size:16px;
  font-weight:bold;
}
.mySelect{
  border: 1px none red;
  padding: 0.75rem;
  width: 25%;
  text-align: center;
  font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
  font-size:16px;
  font-weight:bold;
}
.pago{
  border: 1px none blue;
  padding: 0.75rem;
  font-size:16px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#input_pago{
background: rgb(190, 190, 190);
}

  .input-group {
    margin: 2rem 0;
  }
  
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: #f3f3f3;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }